.filter {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100vw;
  background: #ffffff;
  z-index: 16;
}
.mutations {
  height: calc(100vh - (47px + 32px + 16px + 32px + 16px + 16px + 10px));
  overflow-x: hidden;
  overflow-y: scroll;
}
.map {
  height: calc(50vh - 116px - 5px);
  overflow: hidden;
}
.table {
  height: calc(50vh  - 100px - 5px);
  overflow-x: scroll;
  overflow-y: hidden;
}
.card {
  margin: 8px;
  background: #ffffff;
  border: 1px solid #f0f3f6;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.cardHeader {
  height: 32px;
  padding: 8px;
  font-weight: 700;
  border-bottom: 1px solid #f0f3f6;
}
.cardBody {
  padding: 8px;
  position: relative;
}